<div class="container mt-4">
  <h1>Likes</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Publicación</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <% @likes.each do |like| %>
        <tr>
          <td><%= like.user.username if like.user %></td>
          <td><%= like.publication.id if like.publication %></td>
          <td>
            <%= link_to "Ver", like_path(like), class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

