<div class="container mt-4">
  <h1>Seguidores</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Sigue a</th>
        <th class="text-end">Acción</th>
      </tr>
    </thead>
    <tbody>
          <% @followers.each do |follower| %>
        <tr>
          <td><%= follower.user.username if follower.user %></td>
          <td><%= follower.user2.username if follower.user2 %></td>

          <td class="text-end">
            <%= link_to "Ver", follower_path(follower), class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>